<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process Complete</title>
</head>

<body>
<h1>Your files are complete!</h1>
<div class="container">

    <a href="{{url_for('downloaded_file', filename='data.csv')}}" class="myLink">Download CSV</a>
    <br>
    <a href="{{url_for('downloaded_file', filename='data.json')}}" class="myLink">Download JSON</a>
    <br>
    <a href="{{url_for('downloaded_file', filename='data.anx')}}" class="myLink">Download ANB</a>
    <br>
    <a href="{{url_for('downloaded_file', filename='data.html')}}" class="myLink">Download HTML</a>

    <form action="/nlp_project">
    <input type="submit" value="Home" />
    </form>

</div>
</body>
</html>