<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>NLP SpaCy</title>

<link href="./nlp_project/website_css/main_class.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    $("#logo").css('opacity','0');

    $("#select_logo").click(function(e){
       e.preventDefault();
       $("#logo").trigger('click');
    });
    submitForms = function(){
        document.forms["form1"].submit();
        document.forms["form2"].submit();
        }
</script>
</head>
<h2>Select file(s) to upload</h2>
<p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</p>
<div class="container">
    <div class="two-col">
            <div class="col1">
                <form method="POST" action="/nlp_project" enctype='multipart/form-data'>
                    <input type="file" name="inputFileNames" accept=".txt, .pdf, .csv" multiple="true"/>
                        <label>Load files for processing.</label>
                            <br>
                        <input type="file" accept=".json" id="logo"/>
                    <label>Load a library, if applicable.</label>
                        <br>
                    <label><input type="checkbox" id="renderViz" name="renderViz" checked>Display Visualization
                        in Browser</label>

<!--                </form>-->
            </div>
            <div class="col2">
<!--                <form method="POST" id="form2" action="/nlp_project" enctype='multipart/form-data'>-->
                <textarea name="FreeInputText" placeholder="Free input text" cols="60" rows="20" minlength="10" autocomplete spellcheck></textarea>

            </div>
        <input type="submit" value="Submit" onclick="submitForms()"/>
        </form>
    </div>
</div>