{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-left:20%">
    <h2>Select file(s) to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </p>
    <div class="container">
        <div>
                <div>
                    <form method="POST" action="/nlp_project" enctype='multipart/form-data'>
                        <input type="file" name="inputFileNames" accept=".txt, .pdf, .csv" multiple="true"/>
                            <label>Load files for processing.</label>
                                <br>
                            <input type="file" name="inputFileNames" accept=".json" id="logo"/>
                        <label>Load a library, if applicable.</label>
                            <br>
                        <label><input type="checkbox" id="renderViz" name="renderViz" checked>Text Rendered Visualization
                            in Browser</label>
                            <br>
                        <label><input type="checkbox" id="ploty_viz" name="ploty_viz" checked>Network Analysis in Browser</label>
                            <br>
                        <label><input type="checkbox" id="createNewRepo" name="createNewRepo">Keep library for multiple runs.</label>

                </div>
                <div class="col2">
                    <textarea name="FreeInputText" placeholder="Free input text" cols="60" rows="20" minlength="10" autocomplete spellcheck></textarea>

                </div>
            <input type="submit" value="Submit" onclick="submitForms()"/>
            </form>
        </div>
    </div>
    {% if plot_url %}
    <br>
    <div class="box-boarder">
        <section>
            <h2 style="text-align: center;">WordCloud of Last Run</h2>
            <img src="data:image/png;base64, {{ plot_url }}">
        </section>
    </div>
    {% endif %}
</div>
{% endblock %}